<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Student App - Student List</title>
</head>

<body>
    <div>
        <div style="background-color:orange; height: 50px; text-align:center; ">
            <h2>ByteXL App Development</h2>
        </div>
        <h3>Student App - Student List</h3>
        <div>

            <div><a href="{% url 'student_create' %}">New Student</a></div>
            <table width="100%" cellpadding="5" cellspacing="0" border="1" bordercolor="silver">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Subject</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.age}}</td>
                        <td>{{student.subject}}</td>
                        <td>
                            <a href="{% url 'student_update' student.pk %}"> Edit</a>
                            <a href="{% url 'student_delete' student.pk %}"> Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                    </thead>
            </table>
            <!---->
        </div>
        <div style="background-color:silver; height: 30px; text-align:center; ">
            <p>(c) Student App Foundation</p>
        </div>
    </div>
</body>

</html>